{% extends 'layout.html' %}

{% block content %}
<div class="" style="height:10.2vh"></div>

<div class="container">

<div id="about" style="background:rgb(116, 193, 174); border:1px solid rgb(49, 107, 105);" class="card  text-light">
  <div class="m-3" style="">
    <h2 style="text-align:center;border-bottom:2px rgba(194, 194, 192, 0.2) solid">About</h2>
    <h3>A Way to Manage Your Life</h3>
    <p style="margin-left:10px; width:50%;">
        We created Taskyy as a way to help keep track of all the small things in your life.
        Tired of writing down notes for later, only to forget about them? Tasky solves this problem by putting all of your lists
        in one compact app and website. You'll get notified when its getting close to the due date on tasks, and can even bring
        a friend, partner, or family member into the mix.
    </p>

    <h3>A Way to Stay Connected</h3>
    <p style="margin-left:10px; width:50%;">
        Tasky is not just a personal app. It has social features that allow you to share your to-do lists with othes, request others
        to do tasks, and even just see what your friends and family are up to on a regular basis. You can choose whether or not to make 
        your lists public or private. Feel like showing off that you just bought a cake for grandmas birthday? Now all your followers
        can know just what you do in a day.
    </p>

  </div>
</div>


</div>

{% endblock content %}
