{% extends 'layout.html' %}
{% block content %}




    <div class="buffer" style=" height: 11vh"></div>

    <div id="account-container"class=" container-fluid  " style="">
        <div class="row" style="margin:auto;">

          <div class="card col-lg-5 col-12 " style="margin-top:25px;">
            <div class="row">
              <h2>{{account.username}}</h2>
            </div>
            <div class="row">
              <div class="col col-md-2">
                <a href="/account/{{account.id}}/followers">Followers</a>
              </div>
              <div class="col col-md-2">
                <a href="/account/{{account.id}}/following">Following</a>
              </div>
            </div>
          </div>

  <div class="col-md-1"></div>

          <div class="col col-lg-6 col-12">

            {% include 'listselect.html' %}
          </div>

        </div>
    </div>


    <script type="text/javascript">
      $(document).ready(function(){
        $('#list-area').show(150);

      })
    </script>



{% endblock content %}
