<!doctype html>
<html lang="en">
  <head>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="static/stylesheets/singlepost.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static' , filename='stylesheets/account.css')}}">
    <title>{{title}}</title>
  </head>
  <body>

  <nav class="fixed-top" style="background-color:rgba(46, 154, 24, 0.64)">
    <div class="container">
      <div class="row mt-3 mb-3">
    <div class="col">
      <a style="text-decoration:none; color:inherit;"href="{{url_for('home')}}"><h4><i>Taskyy</i></h4></a>
    </div>
    <div class="col">
      <form id="searchbar" class="" action="#" method="post">
        <input id="searchfield" style="text-align: center;"class="form-control" type="text" name="" value="" placeholder="Search Users">
      </form>
    </div>
    <div class="col">
      <div style="height:8px"> </div>

      <a style="text-decoration:none; color:inherit" href="{{url_for('logout')}}"><h6><i>Log Out</i></h6></a>

    </div>
    </div>
    <hr style="position:fixed; width:100vw; left:0px; top:54px; border: 2px solid rgb(43, 157, 51)">
  </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {%if messages%}
          {%for category, message in messages%}
            <div class="flashbar alert alert-success">
              {{message}}
            </div>
          {%endfor%}
      {%endif%}
    {% endwith %}



    <style media="screen">

    </style>


    <div class="buffer" style=" height: 10.2vh"></div>

    <div class=" container-fluid " style="width:80%;">
        <div class="row" style="margin:auto;">

          <div class="card col-md-5 ">
            <h3 class="mt-2">{{account.username}}'s tasks</h3>
            <hr style="margin:0 0 5px 0;">
            <div class="mt-4" style="width:80%;">
              {% for task in account.posts %}
              {% include 'singlepost.html' %}
              {% endfor %}
            </div>

          </div>

          <div class="col-md-1">

          </div>

          <div class="card col-md-5 ">
            <h2>2aidura94pfoNVB48OI20FVNlsiyr</h2>
          </div>


        </div>
    </div>





  <!--  <script src="/static/js/moment.min.js"></script>-->
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/singlepost.css')}}">
    <script src="{{url_for('static', filename='scripts/search.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/comment.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/settings.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/flashhide.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
