{%extends 'layout.html'%}
{%block content%}

<style media="screen">
  .description {
    font-size: 11pt;
    text-align:center;
  }


</style>


<link rel="stylesheet" href="{{url_for('static', filename='stylesheets/home.css')}}">
<section id="maincont" style=''>


<div class="container mt-4">
<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">

    <div class="col-sm-1"></div>

  <div id="mobilehidden" class="  position-fixed" style="margin-left: -50px;width: 450px; z-index:99;">
    <div class="card card-body " style="margin-right:-30px;">
      <legend style="margin-top:-10px;">Make a Task</legend>
      <span class="border-bottom ml-2 mr-2 mb-3"></span>
    <div class="row">

    <ul style="list-style-type:none; display:flex; flex-direction: row; ">
    {% include 'newtaskform.html' %}
    </ul>


    </div>


  </div>

  {% include 'listselect.html' %}


</div>

  <div class="col-sm-5"></div>


  <div id="maincontent" class="card" style="width:100%;">
    <ul id="f-list" style="list-style-type:none; padding:0;margin:0; height:75vh;  overflow-x:hidden; display:none;">
    <legend class="ml-3 mt-2 ">Feed</legend>
    <hr style="margin-top:-5px; margin-bottom:0px; margin-left:5px; margin-right:5px;">

    <div class="mr-4" style="margin-left:-25;">

  {% if tasks %}
  {%for task in tasks | reverse %}
  <li>
  {% include 'singlepost.html' %}
</li>

  {%endfor%}
  {% else %}
</div>
</ul>

<div class="margin-auto" style="width:600px;">
  <p style="text-align:center">You dont have any friends yet</p>

</div>
{% endif %}
</div>
</div>








<script type="text/javascript">
  $(document).ready(function(){
    $('#list-area').show(150);
    $('#f-list').fadeIn(350);
  })
</script>
<script src="{{url_for('static', filename='scripts/check.js')}}"></script>
</div>
</section>
{%endblock content%}
