{%extends 'layout.html'%}
{%block content%}

<style media="screen">
  .description {
    font-size: 11pt;
    text-align:center;
  }


</style>


<link rel="stylesheet" href="{{url_for('static', filename='stylesheets/home.css')}}">
<section id="maincont" style='display:none;'>


<div class="container mt-4">
<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">

    <div class="col-sm-1"></div>

  <div id="mobilehidden" class="  position-fixed" style="margin-left: -50px;width: 450px; z-index:99;">
    <div class="card card-body " style="margin-right:-30px;">
      <legend style="margin-top:-10px;">Make a Task</legend>
      <span class="border-bottom ml-2 mr-2 mb-3"></span>
    <div class="row">

    <ul style="list-style-type:none; display:flex; flex-direction: row; ">
    {% include 'newtaskform.html' %}
    </ul>


    </div>


  </div>

  <div class="card mt-4" style="height:450px; margin-right:-30px;">
    <legend class="ml-3 mt-2 ">
      <select  onchange="homelist()" id="list-select" class="form-control" style="width:200px; font-size:16pt;" name="">
            <option selected  value="{{lists[0].id}}">{{lists[0].name}}</option>
            {% if lists[1] %}
            {% for list in lists %}
            {% if list != lists[0]  %}
            <option value="{{list.id}}">{{list.name}}</option>
            {% endif %}
            {% endfor %}
            {% endif %}
      </select>
      <a href="{{url_for('dashboard')}}" style="position:absolute; right:20px; top:13px; color:rgb(87, 92, 131); text-decoration:none; font-size:14pt;">Dashboard</a>
     </legend>
    <span class="border-bottom ml-2 mr-2"></span>

    <div class="" id="list-area"  style="">
        <h3 id='loading' style='margin:auto; text-align:center; position:relative; top:100px;'></h3>

      {% for list in lists %}
      <ul class='mainpagelist' id="accountposts{{list.id}}"  style="{% if list != lists[0] %} display: none; {%endif%}position:absolute; left: -30px; width:105%; list-style-type:none; height:370px;overflow-x:hidden;">
    {% if current_user.is_authenticated %}
    {%for task in list.tasks | reverse %}
    {% if task.content != 'Completed' %}
    {% include 'mainpageaccountpost.html' %}
    {% endif %}
    {%endfor%}
    {%for task in list.tasks | reverse %}
    {% if task.content == 'Completed' %}
    {% include 'mainpageaccountpost.html' %}
    {% endif %}
    {%endfor%}
    {% endif %}
  </ul>
    {% endfor %}

  </div>

  </div>
</div>

  <div class="col-sm-5"></div>


  <div id="maincontent" class="card " style="width:100%">
    <legend class="ml-3 mt-2">Feed</legend>
    <span class="border-bottom ml-2 mb-2 mr-2"></span>
    <div class="mr-4" style="margin-left:-25;">
  {% if tasks %}
  {%for task in tasks | reverse %}

  {% include 'singlepost.html' %}

  {%endfor%}
  {% else %}
</div>

<div class="margin-auto" style="width:600px;">
  <p style="text-align:center">You dont have any friends yet</p>

</div>
{% endif %}
</div>
</div>

<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->





<script src="{{url_for('static', filename='scripts/homelists.js')}}"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#maincont').show(150);
  })
</script>
<script src="{{url_for('static', filename='scripts/check.js')}}"></script>
</div>
</section>
{%endblock content%}
