{%extends 'layout.html'%}
{%block content%}
<style media="screen">
  .card-body ul li {
    margin-left: 10px;
  }
  span button img:hover {
    animation-name: rotate;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
  }
  @keyframes rotate {
    0%{

        transform:rotate(0deg);

    }
      100% {

      transform:rotate(-25deg);

      }
    }
    #accountposts::-webkit-scrollbar { width: 0 !important }

</style>




<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">

    <div class="col-sm-1"></div>

  <div class="col-6 col-sm-3 position-fixed" style="z-index:99;">
    <div class="card card-body " style="margin-right:-30px;">
      <legend style="margin-top:-10px;">Make a Task</legend>
      <span class="border-bottom ml-2 mr-2 mb-3"></span>
    <div class="row">
    <ul style="list-style-type:none; display:flex; flex-direction: row;">
    <form class="" action="" method="post">
      {{form.hidden_tag()}}
      <div class="row">
      <li class="font-weight-normal">
            {%if form.title.errors%}
            {{form.title(class="form-control form-control is-invalid", placeholder="type something")}}
            <div class="invalid-feedback">
              {%for error in form.title.errors%}
                <span>{{error}}</span>
              {%endfor%}
            {%else%}
          {{form.title(class="form-control", placeholder="type something", style="margin-left:-20px;background: inherit;")}}
          {%endif%}
        </li>
      <li class="ml-4 mt-1">
        <a href="#" id="newpost" class="btn btn-sm btn-outline-info">Post</a>
        {{form.submit(class="btn btn-sm btn-outline-info")}}
      </li>
    </div>
    </form>
    </ul>
    </div>
  </div>

  <div class="card mt-4" style="height:450px; margin-right:-30px;">
    <legend class="ml-3 mt-2">My Tasks</legend>
    <span class="border-bottom ml-2 mr-2"></span>
    <div class="mr-4" style="margin-left:-75px; margin-right:20px;">
      <ul id="accountposts"style="list-style-type:none; width:450px;height:350px;overflow-x:hidden;">
    {% if current_user.is_authenticated %}
    {%for task in mytasks | reverse %}
    {% if task.content != 'Completed' %}
    {% include 'mainpageaccountpost.html' %}
    {% endif %}
    {%endfor%}
    {%for task in mytasks | reverse %}
    {% if task.content == 'Completed' %}
    {% include 'mainpageaccountpost.html' %}
    {% endif %}
    {%endfor%}
    {% endif %}
  </ul>

  </div>
  </div>
</div>

  <div class="col-sm-5"></div>


  <div class="col-6 col-sm-6 card">
    <legend class="ml-3 mt-2">Tasks at Hand</legend>
    <span class="border-bottom ml-2 mr-2 mb-3"></span>
    <div class="mr-4" style="margin-left:-25;">
  {%for task in tasks | reverse %}
  {% if task.content != 'Completed' %}
  {% include 'singlepost.html' %}
  {% endif %}
  {%endfor%}
</div>
</div>
</div>

<script src="{{url_for('static', filename='scripts/check.js')}}"></script>


{%endblock content%}
