{%extends 'layout.html'%}
{%block content%}
<div class="container" style='height: 89.8vh'>

<div id="loginbox" class="content-section card" >
<div class="ml-4 mr-4">
<form class="form-group" action="" method="post">
  {{form.hidden_tag()}}
  <fieldset class="form-group">
    <legend class="border-bottom">Login</legend>
    <div class="form-group">


      <div class="" style="width:250px;">
    <div class="row ml-1">
      {{form.email.label(class="form-control-label")}}
    </div>
    {%if form.email.errors%}
      {{form.email(class="form-control form-control is-invalid")}}
      <div class="invalid-feedback">
        {%for error in form.email.errors%}
          <span>{{error}}</span>
        {%endfor%}
      </div>
      {%else%}
    {{form.email(class="form-control-label form-control form-control-lg")}}

    {%endif%}

  </div>
  <div class="" style="width:250px;">
  <div class="row ml-1 mt-3">
    {{form.password.label(class="form-control-label")}}
  </div>
    {%if form.password.errors%}
    {{form.password(class="form-control form-control is-invalid")}}
    <div class="invalid-feedback">
      {%for error in form.password.errors%}
        <span>{{error}}</span>
      {%endfor%}
    </div>
    {%else%}
  {{form.password(class="form-control-label form-control form-control-lg")}}

  {%endif%}
</div>

<div class="form-group">
  {{form.remember}} <span>Remember me?</span>
</div>

<div class="form-group">
  {{form.submit(class='btn btn-outline-info')}}
</div>

  </fieldset>
</form>

</div>
</div>
</div>

{%endblock content%}
