{%extends 'layout.html'%}
{%block content%}
<div class="content-section">

<form class="form-group" action="" method="post">
  {{form.hidden_tag()}}
  <fieldset class="form-group">
    <legend class="border-bottom">Join Today</legend>
    <div class="form-group">


    <div class="row ml-3">
      {{form.email.label(class="form-control-label")}}
    </div>
    {%if form.email.errors%}
      {{form.email(class="form-control form-control is-invalid")}}
      <div class="invalid-feedback">
        {%for error in form.email.errors%}
          <span>{{error}}</span>
        {%endfor%}
      </div>
      {%else%}
    {{form.email(class="form-control-label form-control-lg")}}

    {%endif%}

  <div class="row ml-3">
    {{form.password.label(class="form-control-label")}}
  </div>
    {%if form.password.errors%}
    {{form.password(class="form-control form-control is-invalid")}}
    <div class="invalid-feedback">
      {%for error in form.password.errors%}
        <span>{{error}}</span>
      {%endfor%}
    </div>
    {%else%}
  {{form.password(class="form-control-label form-control-lg")}}

  {%endif%}

<div class="form-group">
  {{form.remember}} <span>Remember me?</span>
</div>

<div class="form-group">
  {{form.submit(class='btn btn-outline-info')}}
</div>

  </fieldset>
</form>

</div>
{%endblock content%}
