


<li class="leftlist mb-1" style="width:98%;">
<div class="card" id='tasksection{{task.id}}'style="background: linear-gradient(to bottom right, rgb(252, 252, 252),rgba(37, 194, 118, 0.09))">

    <div class=" mt-2 ml-2 " style="">

      <div class="" style="display:flex; flex-direction:row;">

      <div class="mr-4 bg-info" style="">
        {% if account.id == current_user.id %}
        {% if task.content != "Completed" %}

      <a href="#" class='updatebutton' id='button{{task.id}}' style=" background: transparent;
    border: none !important; "  task_id='{{task.id}}' name="button">
        <img style="width:25px;" id='buttonimg{{task.id}}' src="{{url_for('static', filename='assets/check.png')}}">
      </a>


        {% else %}
        <a href="#" class='updatebutton ' id='button{{task.id}}' style="background: transparent;
      border: none !important; "  task_id='{{task.id}}' name="button">
          <img style="width:25px; " id='buttonimg{{task.id}}' src="{{url_for('static', filename='assets/x.png')}}">
        </a>
        {% endif %}
        {% endif %}
      </div>


      <a style="text-decoration: none; color:inherit"href="{{url_for('post', post_id=task.id)}}">
      <section style="width:360px; margin-left:25px; margin-bottom: -30px; line-height:20px; margin-top:5px;">
        <p class="task-title"style="color:inherit; text-decoration:none;">
          {{task.title}}
        </p>

      </section>
    </a>

      </div>


      <section>
      <!--  <ul id="mytaskslist" class="float-right mr-2 "style=" list-style-type:none; display: flex; flex-direction:row">
      <li>
        <li>
        <p class="mr-2" id="like{{task.id}}" style=" font-size:10pt;">{{tasklikes[task.id]}}</p>
      </li>
      {%if likes[task.id] == 1 %}
      <li>
        <a href="#" class="mr-1 btn btn-outline-success btn-sm upvotebutton" value="1" id="upvote{{task.id}}" task_id="{{task.id}}" style="background-color:green; height:20px; width:20px; border-radius:50%; text-decoration:none; color:green;" ></a>
      </li>
      <li>
        <a href="#" class="downvotebutton btn btn-sm btn-outline-danger" value="0" id="downvote{{task.id}}" task_id="{{task.id}}" style="height:20px; width:20px; border-radius:50%; text-decoration: none; color: red" ></a>
      </li>
      {% elif likes[task.id] == -1 %}
      <li>
        <a href="#" class="mr-1 btn btn-outline-success btn-sm upvotebutton" value="0" id="upvote{{task.id}}" task_id="{{task.id}}" style="height:20px; width:20px; border-radius:50%; text-decoration:none; color:green;" ></a>
      </li>
      <li>
        <a href="#" class="downvotebutton btn btn-sm btn-outline-danger" value="-1" id="downvote{{task.id}}" task_id="{{task.id}}" style="background-color: red; height:20px; width:20px; border-radius:50%; text-decoration: none; color: red" ></a>
      </li>
      {% else %}
      <li>
        <a href="#" class="mr-1 btn btn-outline-success btn-sm upvotebutton" value="0" id="upvote{{task.id}}" task_id="{{task.id}}" style="height:20px; width:20px; border-radius:50%; text-decoration:none; color:green;" ></a>
      </li>
      <li>
        <a href="#" class="downvotebutton btn btn-sm btn-outline-danger" value="0" id="downvote{{task.id}}" task_id="{{task.id}}" style="height:20px; width:20px; border-radius:50%; text-decoration: none; color: red" ></a>
      </li>
      {% endif %}</ul>-->
    </section>

    <div class="">
      <div id="settings{{task.id}}" >
        <a class="settings" t={{task.id}} task_id="settings{{task.id}}"style="text-decoration:none; color:inherit; font-weight:500; font-size: 14pt"href="#">...</a>
      </div>

        <div class="">
          <a href="#"><img style="width:17px;position:relative; left: 387px; top:23px;"src="{{url_for('static', filename='assets/like.png')}}" alt=""></a>
          <p class="" style="position:relative; left: 413px; font-size:12pt; font-weight:400; margin-bottom:0px;">{{tasklikes[task.id]}}</p>
          <p class="text-muted" style=" position:relative; left: 374px; font-size:10pt; margin-bottom:5px;">{{mytasklocaltimes[mytasks.index(task)].strftime(' %x')}}</p>
        </div>


      </div>





    <!--  <li class="font-weight-light ml-3"  id='content{{task.id}}'>{{task.content}}</li>
-->






</div>
</div>
</li>
