{% extends 'layout.html' %}

{% block content %}

<div class="buffer" style=" height: 10.2vh"></div>


  {% if current_user.id==task.author.id %}


  <div class="card-body" style="margin-left: -30px; margin-top:-7px;">
      <legend class="ml-4">Edit Post</legend>
    <div class="row">

    <ul style="list-style-type:none; display:flex; flex-direction: row;">

    <form class="" action="" method="post">
      {{form.hidden_tag()}}
      <div class="row ml-2">

      <li class="font-weight-normal">

            {%if form.title.errors%}
            {{form.title(class="form-control form-control is-invalid")}}
            <div class="invalid-feedback">
              {%for error in form.title.errors%}
                <span>{{error}}</span>
              {%endfor%}
            {%else%}
          {{form.title(class="", style="background: inherit;")}}

          {%endif%}
        </li>


      <li class="ml-5">
        {{form.submit(class="btn btn-sm btn-outline-info")}}
      </li>


    </div>
    </form>
    </ul>
    <span style="position:absolute;right: 20px;"><button type="button" style=" margin-top:-8px;" class="mb-2 btn btn-outline-light" name="button">
      <img src="https://static.thenounproject.com/png/21729-200.png"
      width="23px;">

    </button>
    </span>


  </div>
</div>
  {% endif %}
  {% if current_user.id != task.author.id %}

  <div class="card">
    <section style="display:flex; flex-direction:row; width:100%">
      <img src="{{url_for('static', filename='pfps/'+task.author.image_file)}}"  class="ml-2 mt-2" style="width:50px; height:50px; border-radius:5px"alt="">
      <h3 style="position:relative; top: 15px; left: 10px;">{{task.author.username}}</h3>
      <p style="font-weight: 200;position:relative; top:25px; left:15px;">{{localtime.strftime('%I:%M %p %x')}}</p>
      {% if task.content == "Completed" %}
      <img style="position:absolute; right:20px; top: 15px" src="{{url_for('static', filename='assets/x.png')}}" width="23px;">
      {% else %}
      <img style="position:absolute; right:20px; top: 15px" src="{{url_for('static', filename='assets/check.png')}}" width="23px;">
      {% endif %}
    </section>
    <section style="margin: 10px 20px 10px 20px">
      {{task.title}}
    </section>

  </div>



  {% endif %}


  <div class="mt-4 card comments" style="width: 70%">
    {% for comment in task.comments %}
      {% include "comment_proto.html" %}
    {% endfor %}
  </div>



{% endblock content %}
