

<div class="card ml-5 bg-light mb-4" id='tasksection{{task.id}}'style="width:90%; height:150px">
  <div class="card-body" style="margin-left: -30px; margin-top:-7px;">
    <div class="row ml-2" style="margin-top: -5px;">
      <img src="{{url_for('static', filename='pfps/'+task.author.image_file)}}" class="ml-4" style="border: 2px solid lightgrey; border-radius:10%; width:40px; height: 40px;" alt="">
      <h5 class="ml-1">
        <a style="font-size: 14pt;color:inherit; text-decoration:none; font-family: Calibri;"href="{{url_for('account', account_id=task.author.id)}}">{{task.author.username}}
        </a>
      </h5> <!-- .strftime('%I:%M %p %x') -->
        </div>
        <p class="text-muted float-left" style="font-size:10pt; margin-top:-20px; margin-left:75px; ">{{localtimes[tasks.index(task)].strftime('%I:%M %p %x')}}</p>


    <div class="row float-left" style="margin-top:-10px;">
      <ul class=""style="margin-left:-10px; list-style-type:none; display:flex; flex-direction: row;">
        <li style="height:30px; width:440px;"class="font-weight-normal">
          <p style="font-size:11pt;" class="font-weight-light">
          <a href="{{url_for('post', post_id=task.id)}}" style="color:inherit; text-decoration:none;">
            {{task.title}}
          </a>
          </p>
        </li>


        <!--<li class="font-weight-light ml-3" id='content{{task.id}}'>{{task.content}}</li>
-->
    </ul>
    <ul style="position:absolute; right:20px; top:120px; list-style-type:none; display: flex; flex-direction:row">
      <li>
      <p class="" id="like{{task.id}}" style="font-size:10pt;">{{task.likes}}</p>
    </li>
    <li>
      <a href="#" class="upvotebutton" id="upvote{{task.id}}" task_id="{{task.id}}" style="text-decoration: none; color: red" >T</a>
    </li>
    <li>
      <a href="#" class="downvotebutton" id="downvote{{task.id}}" task_id="{{task.id}}" style="text-decoration: none; color: red" >┴</a>
    </li>

    </ul>
  </div>


  </div>
</div>
