
{% if page %}
{% if page == 'account' %}


{% endif %}
{% else %}
{% if task.content != 'Completed' %}
<p class="description text-muted">{{task.author.username}} started a task</p>
{% else %}
<p class="description text-muted">{{task.author.username}} completed a task</p>
{% endif %}
{% endif %}


<div class="card" id='tasksection{{task.id}}'style="margin-top:-15px; margin-bottom:20px; {% if not page %} margin-left:2%; {% endif %} width:100%;background: linear-gradient(to bottom right, rgb(252, 252, 252),rgba(194, 51, 37, 0.02))">

  <div class="mt-2 mr-2" style="margin-bottom:-30px;">
  {% if task.content == 'Completed' %}
    <img  style="float:right; width:25px;" id='buttonimg{{task.id}}' src="{{url_for('static', filename='assets/x.png')}}">
  {% else %}
    <img style="float:right; width:25px;" id='buttonimg{{task.id}}' src="{{url_for('static', filename='assets/check.png')}}">
  {% endif %}
</div>


    <div class=" mt-2 ml-2 " style="margin-bottom:30px;">


      <a style="text-decoration: none; color:inherit"href="{{url_for('post', post_id=task.id)}}">
      <div class="" style=" display:flex; flex-direction:row;">



      <section style="width:70%; margin-left:25px; margin-bottom: 0px; line-height:20px; margin-top:5px;">
        <p class="task-author"style="  color:inherit; text-decoration:none;">
          {{task.author.username}}
        </p>
        <hr style="margin: -10px -5% 15px -25px;">

        <p class="task-title"style="  color:inherit; text-decoration:none;">
          {{task.title}}
        </p>



      </section>
      </div>
    </a>
      <section>


    </section>

    <div class="" style="position:absolute;  right:20px; ">
      <div class="" style="position:relative; bottom:0px; right:-10px;">
        {% if page=='account' %}
        {% if current_user.id != account.id %}
      <ul class='upvotebuttons'style=" list-style-type:none; display: flex; flex-direction:row">
        <li>

        {%if likes[task.id] == 1 %}
        <li>
          <a href="#" class="mr-1 btn btn-outline-success btn-sm upvotebutton" value="1" id="upvote{{task.id}}" task_id="{{task.id}}" style="background-color:green; height:20px; width:20px; border-radius:50%; text-decoration:none; color:green;" ></a>
        </li>
        <li style="width:25px;">
        <p class="mr-1 ml-1" id="like{{task.id}}" style="margin-top:3px; font-size:11pt;">{{tasklikes[task.id]}}<!--{{task.likes}}--></p>
      </li>
        <li>
          <a href="#" class="downvotebutton btn btn-sm btn-outline-danger" value="0" id="downvote{{task.id}}" task_id="{{task.id}}" style="height:20px; width:20px; border-radius:50%; text-decoration: none; color: red" ></a>
        </li>
        {% elif likes[task.id] == -1 %}
        <li>
          <a href="#" class="mr-1 btn btn-outline-success btn-sm upvotebutton" value="0" id="upvote{{task.id}}" task_id="{{task.id}}" style="height:20px; width:20px; border-radius:50%; text-decoration:none; color:green;" ></a>
        </li>
        <li style="width:25px;">
        <p class="mr-1 ml-1" id="like{{task.id}}" style="margin-top:3px; font-size:11pt;">{{tasklikes[task.id]}}<!--{{task.likes}}--></p>
      </li>
        <li>
          <a href="#" class="downvotebutton btn btn-sm btn-outline-danger" value="-1" id="downvote{{task.id}}" task_id="{{task.id}}" style="background-color: red; height:20px; width:20px; border-radius:50%; text-decoration: none; color: red" ></a>
        </li>
        {% else %}
        <li>
          <a href="#" class="mr-1 btn btn-outline-success btn-sm upvotebutton" value="0" id="upvote{{task.id}}" task_id="{{task.id}}" style="height:20px; width:20px; border-radius:50%; text-decoration:none; color:green;" ></a>
        </li>
        <li style="width:25px;">
        <p class="mr-1 ml-1" id="like{{task.id}}" style="margin-top:3px; font-size:11pt;">{{tasklikes[task.id]}}<!--{{task.likes}}--></p>
      </li>
        <li>
          <a href="#" class="downvotebutton btn btn-sm btn-outline-danger" value="0" id="downvote{{task.id}}" task_id="{{task.id}}" style="height:20px; width:20px; border-radius:50%; text-decoration: none; color: red" ></a>
        </li>
        {% endif %}
      </ul>
      {% endif %}
      {% else %}
      <ul class='upvotebuttons'style=" list-style-type:none; display: flex; flex-direction:row">
        <li>

        {%if likes[task.id] == 1 %}
        <li>
          <a href="#" class="mr-1 btn btn-outline-success btn-sm upvotebutton" value="1" id="upvote{{task.id}}" task_id="{{task.id}}" style="background-color:green; height:20px; width:20px; border-radius:50%; text-decoration:none; color:green;" ></a>
        </li>
        <li style="width:25px;">
        <p class="mr-1 ml-1" id="like{{task.id}}" style="margin-top:3px; font-size:11pt;">{{tasklikes[task.id]}}<!--{{task.likes}}--></p>
      </li>
        <li>
          <a href="#" class="downvotebutton btn btn-sm btn-outline-danger" value="0" id="downvote{{task.id}}" task_id="{{task.id}}" style="height:20px; width:20px; border-radius:50%; text-decoration: none; color: red" ></a>
        </li>
        {% elif likes[task.id] == -1 %}
        <li>
          <a href="#" class="mr-1 btn btn-outline-success btn-sm upvotebutton" value="0" id="upvote{{task.id}}" task_id="{{task.id}}" style="height:20px; width:20px; border-radius:50%; text-decoration:none; color:green;" ></a>
        </li>
        <li style="width:25px;">
        <p class="mr-1 ml-1" id="like{{task.id}}" style="margin-top:3px; font-size:11pt;">{{tasklikes[task.id]}}<!--{{task.likes}}--></p>
      </li>
        <li>
          <a href="#" class="downvotebutton btn btn-sm btn-outline-danger" value="-1" id="downvote{{task.id}}" task_id="{{task.id}}" style="background-color: red; height:20px; width:20px; border-radius:50%; text-decoration: none; color: red" ></a>
        </li>
        {% else %}
        <li>
          <a href="#" class="mr-1 btn btn-outline-success btn-sm upvotebutton" value="0" id="upvote{{task.id}}" task_id="{{task.id}}" style="height:20px; width:20px; border-radius:50%; text-decoration:none; color:green;" ></a>
        </li>
        <li style="width:25px;">
        <p class="mr-1 ml-1" id="like{{task.id}}" style="margin-top:3px; font-size:11pt;">{{tasklikes[task.id]}}<!--{{task.likes}}--></p>
      </li>
        <li>
          <a href="#" class="downvotebutton btn btn-sm btn-outline-danger" value="0" id="downvote{{task.id}}" task_id="{{task.id}}" style="height:20px; width:20px; border-radius:50%; text-decoration: none; color: red" ></a>
        </li>
        {% endif %}
      </ul>
      {% endif %}
    </div>
        <div style="position:relative; bottom:75px; left:20px">

          {% if page=='account' %}
          {% if current_user.id == account.id %}
          <p class="text-muted" style=" font-size:10pt; margin-top:80px; margin-right:10px;">{{localtimes[task.id].strftime('%I:%M %p %x')}}</p>
          {% else %}
          <p class="text-muted" style=" font-size:10pt; margin-bottom:5px;">{{localtimes[task.id].strftime('%I:%M %p %x')}}</p>
          {% endif %}
          {% else %}
          <p class="text-muted" style=" font-size:10pt; margin-bottom:5px;">{{localtimes[task.id].strftime('%I:%M %p %x')}}</p>
          {% endif %}
        </div>


      </div>



      <div  style="margin-bottom:-20px;"class="ml-4 comment-hidden" id="task_id{{task.id}}">
          <a style="font-size:9pt; text-decoration:none;" class="make-comment" href="{{url_for('post', post_id=task.id)}}">View all {{(task.comments) | length}} Comments</a>

      </div>




    <!--  <li class="font-weight-light ml-3"  id='content{{task.id}}'>{{task.content}}</li>
-->






</div>
</div>
