.card-body ul li {
  margin-left: 10px;
}




span button img:hover {
  animation-name: rotate;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}
@keyframes rotate {
  0%{

      transform:rotate(0deg);

  }
    100% {

    transform:rotate(-25deg);

    }
  }
  #accountposts::-webkit-scrollbar { width: 0 !important }
  #titlearea {
    overflow:hidden;
  }

  #titlearea:focus {
  animation-name: postarea-expand;
  animation-duration:100ms;
  animation-fill-mode: forwards;
  }

  #maincontent {
    margin-left: 500px;
    margin-top: 5%;
    margin-bottom: 5%;

  }

  #mobilehidden {
    margin-top: 4%;
  }

#mytaskslist {
top: 150px;
}

  @keyframes postarea-expand {
        0% {
          height:80px;
        }
        100%{
          height: 200px;
        }
  }

  ]



  .posttext {
    margin-left: 0px;

  }
  .list-text {

  }

  .post {
    height:185px;
  }

  .upvotebuttons {
    top: 140px;
  }


@media (max-width: 1800px ) {
#mytaskslist {
  top: 155px;
}


.mypost {

}

}


    @media (max-width: 1500px ) {
      #mobilehidden {
  visibility: hidden;
  }
    #maincontent {
      width: auto;
      margin: auto;
      margin-top: 12%;
      margin-bottom: 12%;
    }
    .posttext {
      margin-left: -180px;
      margin-top:15px;
    }

}

@media (max-width:770px) {

}

@media (max-width:768px) {
  .posttext {
    margin-left: 0px;
    width: 70vw;
  }
  .post {
    height: 190px;
    width: 100px;
  }
  .upvotebuttons {
    top:140px;
  }
}

  @media (max-width:580px) {

    #maincontent {
      margin-left:5%;
      margin-right:5%;


    }

    .post {
        height: -webkit-calc(400px - 40vw);
    }

    .posttext {
      margin-left: 0px;
    }

    .upvotebuttons {
      top: -webkit-calc(370px - 40vw);
    }

  }
