.card-body ul li {
  margin-left: 10px;
}

div {
  font-family: "Gill Sans MT", sans-serif;
}

nav {

}
#account-container {
  width:90%;
}

</style>

nav hr{
  margin-top:10px;
}

.buffer {
  height: 10.2vh;
}

#searchbar {
  margin-top: 5px;
  width:200px;
}

.comments {
  width: 70%;
}

#searchfield {
  width:300px;
  text-align: center;
}

span button img:hover {
  animation-name: rotate;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}
@keyframes rotate {
  0%{

      transform:rotate(0deg);

  }
    100% {

    transform:rotate(-25deg);

    }
  }

  #titlearea {
    overflow:hidden;
    height:95px;
  }

  #titlearea:focus {
  animation-name: postarea-expand;
  animation-duration:100ms;
  animation-fill-mode: forwards;
  }

  #maincontent {
    margin-left: 500px;
    margin-top: 100px;
    margin-bottom: 5%;

  }

  #mobilehidden {
    margin-top: 4%;
  }

#mytaskslist {
top: 150px;
}

  @keyframes postarea-expand {


  }

  ]



  .posttext {
    margin-left: 0px;

  }
  .list-text {

  }

  .post {
    height:185px;
  }

  .upvotebuttons {
    top: 140px;
  }

  #maincontent {
    margin-top:75px;
  }


  @media (max-width:990px) {
    #searchfield {
      margin-left:-3vw;
    }
  }

@media (max-width: 1800px ) {
#mytaskslist {
  top: 155px;
}

  #mobilehidden {
    margin-top: 100px;
  }

.mypost {

}

}


    @media (max-width: 1300px ) {
      #mobilehidden {
  visibility: hidden;
  }
    #maincontent {
      width: auto;
      margin: auto;
      margin-top: 12%;
      margin-bottom: 12%;
    }
    .posttext {
      margin-left: -180px;
      margin-top:15px;
    }

}

@media (max-width:770px) {

}

@media (max-width:768px) {
  #list-select {
    width:100%;
  }
  #account-container {
    width:100%;
  }
  #maincontent {
    margin-top:10vh;
  }
  .posttext {
    margin-left: 0px;
    width: 70vw;
  }
  .post {
    height: 190px;
    width: 100px;
  }
  .upvotebuttons {
    top:140px;
  }
  nav {
    height:40px;
    background-color: rgba(255, 120, 78, 0.82);
  }
  nav div a h4 {
    font-size:10pt;
  }

  nav div div a h6 {
    margin-top:-6px;
    font-size: 9pt;
  }

nav hr {
  visibility: hidden;
}

nav div form {
  font-size: 10pt;
  margin-top:-7px;
}



#searchfield {
  width: 200px;
  margin:auto;
}
#searchbar {
  margin-top:-5px;
}

.comments {
  width: 100%;
  text-align: center;
  margin: auto;
}

.comments form input {
  margin:auto;
  margin-top: 5px;
  width: 80vw;
}

.buffer {
  height: 3.5vh;
}

}




.searching {
border:none;
border-radius: 6px;
}

  @media (max-width:580px) {

    #maincontent {
      margin-left:5%;
      margin-right:5%;


    }

    .post {
        height: -webkit-calc(400px - 40vw);
    }

    .posttext {
      margin-left: 0px;
    }

    .upvotebuttons {
      top: -webkit-calc(370px - 40vw);
    }

  }

@media (max-width:376px) {
  nav {
    height:60px;
  }
  nav div a h4 {
    margin-top: -5px;
    margin-left: -10px;
  }
  #searchbar {
    width: 60vw;
  }
  #searchfield {
    height:35px;
  }
  nav div div a h6 {
    float:left;
    margin-top:-20px;
    margin-left:10px;
  }
}

html, body {
max-width: 100%;
overflow-x: hidden;

}

::-webkit-scrollbar {
width: 4px;
}
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}



#loginbox {
    margin-top: 100px;
  }



  .navbar-right {
    margin-right: 0px;
  }


  nav div div div {
    text-align: center;
  }

  .updatebutton {


    position: absolute;
    top: 5px;


  }

  .settings {

      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,20%);
      position: absolute;
      bottom: 10px;
      left: 20px;


  }



  p {
    font-family: "Gill Sans MT", sans-serif;
    font-weight: 200;
  }

  .task-title {
    font-size: 12pt;
  }
  .task-author {
    font-size: 14pt;
  }


  legend {
    font-family : 'Gill Sans MT' , sans-serif;
    font-weight: thin;
  }
